header {
    min-height : 400px;
    background: linear-gradient(to bottom right, rgba(238, 224, 96, 0.8), rgba(236, 117, 137, 0.8)), url("../img/otartes_homepage.jpg");
    background-position: center;
    background-size: cover;
}

.box {
    border: 2px solid rgb(36, 134, 36);
    padding: 1rem;
    margin-bottom: 1rem;
}

.box-small{
    border-color:  rgb(238, 96, 120);
    text-align: center;
    margin: -2rem 2rem 5rem 2rem;
    padding-top: 3rem;
    position: relative;
}
