<style>
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,600|Roboto:400,500,700&display=swap');
</style>

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

header {
    min-height : 500px;
    background: linear-gradient(to top right, rgba(243, 234, 114, 0.87), rgba(163, 224, 214, 0.8)), url("../img/otartes_homepage.jpg");
    background-position: center;
    background-size: cover;
}

.h-title{
    margin: 120px auto;

}

/* NAVBAR */

.navbar {
    padding-top: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #0F1410;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:nth-last-child() {
    padding-right: 0px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(188, 240, 199);
}

.navbar-dark .navbar-nav .nav-link>a:visited {
    color: #0F1410;
}

.navbar .connect {
    width: 50px;
}

.navbar .connect>a>img {
    width: 220%;
}

.navbar .connect>a {
    font-size: 1rem;
}

.navbar .connect{
    margin-top: -10px;
}

.navbar .navbar-brand>a {
    margin-top: 20px;
}

/* CONNECTION */
.connection .trait {
    border-right: 1px solid #576556;
}

/* BOUTONS */
.btn {
    border-radius: 10px;
    padding-left:1.8rem;
    padding-right:1.8rem;
    background-color: #7AC489;
    border: 1px solid #576556;
    color: white;
}

.btn-primary:hover {
    background-color: #B4F7C4;
    border: 1px solid #898d89;

}

.btn-secondary {
    background-color: #C2AD92;
    border: 1px solid #898d89;
}

.btn-secondary:hover {
    background-color: rgb(211, 192, 168);
    border: 1px solid #898d89;
}

.btn-success {
    background-color: #C2AD92;
    border: 1px solid #898d89;
}

.btn-success:hover {
    background-color: rgb(211, 192, 168);
    border: 1px solid #898d89;}

/* BOX */
.cardbox .fit-image{
    width: 100%;
    object-fit: cover;
    height: 250px; 
    border: 2px solid #898d89;
}

.cardbox>a {
    color: #898d89;    
}

.cardbox {
 margin: 0 20px;
}

.box {
    border: 2px solid rgb(36, 134, 36);
    padding: 1rem;
    margin-bottom: 1rem;
}

.box-small{
    height: 100px;
    /* border-radius: 25px; */
    border-color:  #7AC489;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: -2.1rem 0rem 5rem 9rem;
    padding-top: 1.7rem;
    position: relative;
}

.homepage .box-small h4 {
    
}

/* Homepage */

.homepage a{
    text-decoration: none;
    color: #0F1410;
}

.homepage a h4:hover{
    opacity: .8;
    color:  rgb(58, 92, 65);
}

.homepage a:visited{
    color: #0F1410;
}

/* Footer */
footer {
    min-height : 400px;
    background-color: #B4F7C4;
}

footer .contact {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 500;
}

footer .contact>li:nth-child(1) {
    margin-bottom: 30px;
}

footer .contact .horiz {
    display: inline;
}

footer .contact .horiz:nth-child(even) {
    margin-right: 30px;
}

footer .contact .fab {
    font-size: 3.5rem;
    color: #0F1410;
}

footer .contact a{
    text-decoration: none;
    color: #0F1410;
}

footer .contact a:hover{
    opacity: .8;
    color:  rgb(58, 92, 65);
}

footer .contact a:visited{
    color: #0F1410;
}